@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
body{
    min-height: 100vh;
    background: linear-gradient(to bottom right,#7597de,#2b1055);
}

/*navbar*/
.navbar-nav { 
    padding-right:50px;
}
.nav-item {
    padding-right: 20px;
}
/*akhir dari navbar*/

/*pewarnaan section*/
section#penawaran, section#favorit, section#biodata{
    padding:50px 0px;
    color:white;
}
/*akhir dari pewarnaan section*/

/*css untuk favorit*/
.container-fluid a, #navbarNav a {
  color:white;
}
.container img{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  transition: 1s;
  cursor:url('')
}
.coba:hover{
  transform: scale(1.1);
}
/*akhir untuk favorit*/

/*card*/
.card-body {
  color:black;
}
/*akhir card*/


/*bagian sosialmedia*/
.sosmed .btn1{
    display: inline-block;
    width: 10px;
    width: 60px;
    background:#fff;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 5px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;
}
.sosmed .btn1 i {
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 36px;
    transition: 0.3 ease-in-out;
}
.sosmed .btn1::before{
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-Gradient(#00c6ff, #0072ff);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.sosmed .btn1:hover i {
    color: #fff;
    transform: scale(1.3);
}
.sosmed .btn1:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}
@keyframes onHover {
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}
/*akhir sosial media*/

/* carausel buttom*/
.card-buttom{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  .carousel-buttom{
    padding: 1em;
  }
  .kembali,
  .selanjutnya{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .kembali span,
  .selanjutnya span{
    width: 1.5rem;
    height: 1.5rem;
  }
  
  @media screen and (min-width:568px){
    .cards-wraper{
    display: flex;
  }
  .card-buttom{
    margin: 0.5em;
    width: calc(100%/3);
  }
  .image-wraper{
    height: 18vw;
    margin: 0 auto;
    text-align: center;
    /*display: flex ;
    align-items: center;
    justify-content: center;*/
  }
  }
  @media screen and (max-width: 567px){
    .card-buttom:not(:first-child){
      display:none;
    }
  }
  .image-wraper img{
    max-width: 100%;
    max-height: 100%;
  }

  .mobile{
    height: 50vw;
    text-align: center;
  }
  .warna{
    color:white;
  }
  /*akhir carousel buttom*/

  /*biodata*/
  .data-diri img{
    border-radius: 10%;
    height: 300px;
    width: 300px;
  }
  .data-gambar img{
    margin-left: 35px;
  }
  .data p{
    padding-left: 75px;
  }
  /*akhir biodata*/
  
.aboutkiri h3{
  margin-bottom: 30px;
}
.aboutkiri img{
  margin-left:35px;
}
.coba1{
  padding: 100px;
}

.laptop img {
            height:100vh;
            width: 40vw;
        }
.hp img {
            height:60vh;
        }
